body{
  background-color:rgb(35, 37, 37);
  margin:0;
  padding:0;
}

/* formatting for input bars */
.inputForm {
  border:2px solid black;
  border-radius:4px;
  box-sizing:border-box;
  font-family: helvetica;
  font-size:6vw;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}
